<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <%# <div class="container">
      
    </div> %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
